<%- include ('./header') %> 

<img id="hero-image" src="https://s3.amazonaws.com/cache.salvationarmy.org/bb108a64-a6a0-49dd-abca-88829c2198a4_CoronavirusHeader_Header_AW.jpg" alt="">


<div class="">
    <div class="row">
        <div class="col m6 s12">
            <img class="image1" src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v871batch2-sasi-instagram-13.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8132a60fad84ada319f92554fbad9f62" alt="">
        </div>
        <div class="col m6 s12">
            <img class="image2" src="https://canadiem.org/wp-content/uploads/2020/03/covid-19-intuba_45028056-1.png" alt="">
        </div>
    </div>
    <div class="container">
        <h2>Helpline</h2>
        <div class="row">
            <div class="col s12 m4"> 
                <div class="card-panel orange">
                    <span class="white-text">Phone no.: +91-11-23978046
                    </span>
                </div>
            </div>
            <div class="col s12 m4"> 
                <div class="card-panel orange">
                    <span class="white-text">Toll Free : 1075 Helpline
                    </span>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel orange">
                    <span class="white-text">Email ID : ncov2019@gov.in 
                    </span>
                </div>
            </div>
            <a href="/download" download="help" style="text-align: center;"> Download Helpline PDF</a>
        </div>
    </div>
    <div class="auth-form">
        <form action="/contact" method="POST">
            <h2>Contact Us for any Help</h2>
            <div class="field">
                <label for="name">Name</label>
                <input class="inp" type="text" name="name" placeholder="Your name" required>
            </div>
            <div class="field"> 
                <label for="phone">Phone no.</label>
                <input class="inp" type="number" name="phone" placeholder="Your phone number" required> 
            </div>
            <div class="field"> 
                <label for="email">Email Id</label>
                <input class="inp" type="email" name="email" placeholder="Your email id" > 
            </div>
            <div class="field"> 
                <label for="message">Message</label>
                <textarea class="inp" name="message" id="" cols="30" rows="1000" ></textarea>
            </div>
            <div class="submit"> 
                <button><a class="waves-effect waves-light btn-large orange">Submit!</a></button>
            </div>
        </form>
    </div>
</div>


<%- include ('./footer') %> 